# Entornos virtuales
venv/
env/
.venv/

# Archivos compilados y caché de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Variables de entorno local (si llegas a usar .env)
.env
.env.local

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# ----------------------------------------------------
# ⚠️ IMPORTANTE: Ignorar los Modelos de Machine Learning
# ----------------------------------------------------
# Los archivos .pkl grandes nunca deben subirse al repo.
# # Se deben generar en la máquina de destino o usar almacenamiento en la nube (S3, etc).
# *.pkl
# modelo_helpdesk_rf.pkl
# scaler_helpdesk.pkl

# Archivos temporales de Colab / Jupyter
.ipynb_checkpoints/

# Carpeta de logs si tu API genera registros
logs/
*.log